html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #000;
  background-image: url(wallPaper.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*  
https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2400x1600/f953d57f0ca95d762f19b53ab2a96eaa/photo-1586892478025-2b5472316f22.jpg
*/

.form-signin {
  width: 95%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
  background-color: #fafafa;
  opacity : 0.95;
  border: 2px ;
  border-radius: 20px;

}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;

}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar {
      background-color:transparent !important;
      border-color:transparent;
      background-image:none;
      box-shadow:none; 
      color: #fff
}

a {
  color: #000;
}



